<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analy</title>

</head>
<body>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <div class="card">
        <div class="card-overlay"></div>
        <div class="card-inner">
            {% if answer1 %}
                <p>{{ answer1 }}</p>
            {% endif %}
            {% if answer2 %}
                <p>{{ answer2 }}</p>
            {% endif %}
        </div>
    </div>
      
</body>


</html>