
<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <style>

    </style>
</head>
<body>
    <link rel="stylesheet" href="nav.css">
    <!-- 导航栏 -->
    <nav class="sidebar">
    <!-- ... 导航栏内容 ... -->
        <ul>
        <li>首页</li>
        <li>历史分析记录</li>
        <li class="dropdown">
            获取分析结果
            <ul class="submenu">
            <li>信息收集与结果</li>
            <li>问题页</li>
            </ul>
        </li>
        </ul>
    </nav>
</body>
</html>